<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-6 col-10">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          {{'APP_NAME' | translate}}
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Forget Your Password</h3>
          </header>
          <div class="widget-body">
            <form class="login-form mt-lg">
              <div class="form-group">
                <input type="text" [(ngModel)] = "password" id="password-field" class="form-control" value="" name="password" size="16" placeholder="Give email address" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="clearfix">
                <div class="btn-toolbar float-right m-t-1">
                  <button [disabled]="!userPasswordContext.matchedPassword()" type="submit" class="btn button" (click)="resetPassword()">Save</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
   Odyssey Co. Inc.
  </footer>
</div>

 


 