  <div class="back">
    <a href="" routerLink="/users/all" data-toggle="tooltip" title="back"> <i class="fas fa-arrow-left"></i></a>
  </div>
  <div class="row profile">
    <div class="col-lg-6">
      <section class="widget">
        <div class="widget-body">
          <div class="width-100px">
            <div class="row">
              <div class="col">
               <img src="assets/img/people/a5.jpg" alt="...">
              </div>
              <div class="col">
                  <div class="float-right">
                    <div class="contacts">
                        <ul class="listStyle">
                          <li><h5 class="fw-normal">{{userName}}</h5></li>
                          <li><p>Software Engineer</p></li>
                          <li><i class="fa fa-lg fa-phone fa-fw mr-xs"></i><a class="ancor" href="#"> +375 29 555-55-55</a></li>
                          <li><i class="fa fa-lg fa-envelope fa-fw mr-xs"></i><a class="ancor" href="#" routerLink="/login">{{email}}</a></li>
                          <li><i class="fa fa-lg fa-map-marker fa-fw mr-xs"></i><a class="ancor" href="#"> Minsk, Belarus</a></li>
                        </ul>
                    </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6 col-12">
      <section class="activities">
        <h2 class="m-l-1">Activities</h2>
        <section class="event" *ngFor="let item of role">
          <span class="thumb-sm avatar pull-left mr-sm">
            <img class="rounded-circle" alt="...">
          </span>
          <h5 class="event-heading"><a href="#" routerLink="/users/roles">{{item.name}}</a></h5>
          <p>{{item.info}}</p>
          <footer></footer>
        </section>
      </section>
    </div>
  </div>
  