<div class="back">
  <a href="" routerLink="/container/all" data-toggle="tooltip" title="back"> <i class="fas fa-arrow-left"></i></a>
</div>
<div>
  <section class="widget" widget>
     
          <h4>John Markham</h4>
          <p>Some text here...</p>
          <p>Some other text...</p>
   
  </section>
</div>
<div class="row">
  <div class="col-lg-6">
    <section class="widget" widget>
      <header class="align flex flex-horizontal-center">
        <div>
            <h2>Attributes</h2>
        </div>  
        <div class="widget-controls">
            <a href="#" routerLink="/container/3/details" data-toggle="tooltip" title="refresh"><i class="fa fa-refresh"></i></a>
        </div>
      </header>
      <div class="widget-body">
          <div class="right">
                <button class="btn button" (click)="OpenAttributes(content)">Create Attribute</button>
          </div> 
        </div>
      <table class="table">
          <thead>
          <tr>
            <th>Attribute Name</th>
            <th>Type of Attribute</th>
          </tr>
          </thead>
          <tbody>
          <tr class="pointer"  *ngFor="let container of containers">
            <td>
                <h6 class="m-0">{{container.name}}</h6>
            </td>
            <td>
              <h6 class="m-0">{{container.accessGroup}}</h6>
          </td>
          </tr>  
          </tbody>
        </table>
    </section>
  </div>
  <div class="col-lg-6">
      <section class="widget" widget>
        <header class="align flex flex-horizontal-center">
          <div>
              <h2>Behaviors</h2>
          </div>  
          <div class="widget-controls">
              <a href="#" routerLink="/container/3/details"><i class="fa fa-refresh"></i></a>
          </div>
        </header>
        <div class="widget-body">
            <div class="right">
                  <button class="btn button" (click)="OpenBehavior(content1)">Create Behavior</button>
            </div> 
          </div>
        <table class="table">
            <thead>
            <tr>
              <th>Behavior Id</th>
              <th>Behavior Name</th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer"  *ngFor="let container of containers">
              <td>
                  <h6 class="m-0">{{container.id}}</h6>
              </td>
              <td>
                <h6 class="m-0">{{container.name}}</h6>
            </td>
            </tr>  
            </tbody>
          </table>
      </section>
    </div>
  </div>
  
  
  <!-- Template for Role Create -->
  <ng-template #content let-modal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h3 class="modal-title" id="create-attribute">Create Attribute</h3>
        <div class="widget-controls">
          <a href="#" routerLink="/container/3/details" (click)="d('')" data-toggle="tooltip" title="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </div>
      <div class="modal-body" id="create-attribute">
          <div class="widget-body">
              <form class="form-horizontal" role="form">
                <fieldset>
                  <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Attribute Name</label>
                    <div class="col-md-7 ">
                      <div class="input-group">
                        <span class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-user"></i>
                          </span>
                        </span>
                        <input id="prepended-input" class="form-control" size="16" type="text" placeholder="first name">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Item Type</label>
                    <div class="col-md-7 ">
                      <div class="input-group">
                        <span class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="fas fa-calendar-check"></i>
                          </span>
                        </span>
                          <select  class="selectpicker" data-live-search="true" multiple>
                               <option *ngFor="let container of containers"  attr.data-tokens="{{container.accessGroup}}">{{container.accessGroup}}</option>
                          </select>                       
                      </div>
                    </div>
              </div>
                </fieldset>
              </form>
            </div>
      </div>
      <div class="modal-footer">
        <button class="btn button" routerLink="/container/3/details" (click)="d('')">Cancel</button>  
        <button class="btn button">Create</button>
      </div>
    </ng-template>
    <ng-template #content1 let-modal let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h3 class="modal-title" id="create-behavior">Create Behavior</h3>
          <div class="widget-controls">
            <a href="#" routerLink="/container/4/details" (click)="d('')" data-toggle="tooltip" title="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>
        <div class="modal-body" id="create-behavior">
            <div class="widget-body">
                <form class="form-horizontal" role="form">
                  <fieldset>
                    <div class="form-group row">
                      <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Behavior Name</label>
                      <div class="col-md-7 ">
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user"></i>
                            </span>
                          </span>
                          <input id="prepended-input" class="form-control" size="16" type="text" placeholder="access group name">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Others</label>
                      <div class="col-md-7 ">
                        <div class="input-group">
                          <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-check"></i>
                            </span>
                          </span>
                          <input id="prepended-input" class="form-control" size="16" type="text" placeholder="select2">
                        </div>
                      </div>
                </div>
                  </fieldset>
                </form>
              </div>
        </div>
        <div class="modal-footer">
          <button class="btn button" routerLink="/container/4/details" (click)="d('')">Cancel</button>  
          <button class="btn button">Create</button>
        </div>
      </ng-template>
   
    <router-outlet></router-outlet>
  